In [1]:
import pandas as pd
import seaborn as sns

In [3]:
df= pd.read_csv('car_data.csv')
df.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

### 1. Find the best selling Audi car in Europe

In [15]:
audi = df[(df['Origin'].isin(['Europe'])) & (df['Make'].isin(['Audi']))]
audi

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
7,Audi,A4 1.8T 4dr,Sedan,Europe,Front,"$25,940","$23,508",1.8,4.0,170.0,22.0,31.0,3252.0,104.0,179.0
8,Audi,A41.8T convertible 2dr,Sedan,Europe,Front,"$35,940","$32,506",1.8,4.0,170.0,23.0,30.0,3638.0,105.0,180.0
9,Audi,A4 3.0 4dr,Sedan,Europe,Front,"$31,840","$28,846",3.0,6.0,220.0,20.0,28.0,3462.0,104.0,179.0
10,Audi,A4 3.0 Quattro 4dr manual,Sedan,Europe,All,"$33,430","$30,366",3.0,6.0,220.0,17.0,26.0,3583.0,104.0,179.0
11,Audi,A4 3.0 Quattro 4dr auto,Sedan,Europe,All,"$34,480","$31,388",3.0,6.0,220.0,18.0,25.0,3627.0,104.0,179.0
12,Audi,A6 3.0 4dr,Sedan,Europe,Front,"$36,640","$33,129",3.0,6.0,220.0,20.0,27.0,3561.0,109.0,192.0
13,Audi,A6 3.0 Quattro 4dr,Sedan,Europe,All,"$39,640","$35,992",3.0,6.0,220.0,18.0,25.0,3880.0,109.0,192.0
14,Audi,A4 3.0 convertible 2dr,Sedan,Europe,Front,"$42,490","$38,325",3.0,6.0,220.0,20.0,27.0,3814.0,105.0,180.0
15,Audi,A4 3.0 Quattro convertible 2dr,Sedan,Europe,All,"$44,240","$40,075",3.0,6.0,220.0,18.0,25.0,4013.0,105.0,180.0
16,Audi,A6 2.7 Turbo Quattro 4dr,Sedan,Europe,All,"$42,840","$38,840",2.7,6.0,250.0,18.0,25.0,3836.0,109.0,192.0
17,Audi,A6 4.2 Quattro 4dr,Sedan,Europe,All,"$49,690","$44,936",4.2,8.0,300.0,17.0,24.0,4024.0,109.0,193.0
18,Audi,A8 L Quattro 4dr,Sedan,Europe,All,"$69,190","$64,740",4.2,8.0,330.0,17.0,24.0,4399.0,121.0,204.0
19,Audi,S4 Quattro 4dr,Sedan,Europe,All,"$48,040","$43,556",4.2,8.0,340.0,14.0,20.0,3825.0,104.0,179.0
20,Audi,RS 6 4dr,Sports,Europe,Front,"$84,600","$76,417",4.2,8.0,450.0,15.0,22.0,4024.0,109.0,191.0
21,Audi,TT 1.8 convertible 2dr (coupe),Sports,Europe,Front,"$35,940","$32,512",1.8,4.0,180.0,20.0,28.0,3131.0,95.0,159.0
22,Audi,TT 1.8 Quattro 2dr (convertible),Sports,Europe,All,"$37,390","$33,891",1.8,4.0,225.0,20.0,28.0,2921.0,96.0,159.0
23,Audi,TT 3.2 coupe 2dr (convertible),Sports,Europe,All,"$40,590","$36,739",3.2,6.0,250.0,21.0,29.0,3351.0,96.0,159.0
24,Audi,A6 3.0 Avant Quattro,Wagon,Europe,All,"$40,840","$37,060",3.0,6.0,220.0,18.0,25.0,4035.0,109.0,192.0
25,Audi,S4 Avant Quattro,Wagon,Europe,All,"$49,090","$44,446",4.2,8.0,340.0,15.0,21.0,3936.0,104.0,179.0

In [24]:
# Total cars counts:
a = audi['Model'].value_counts()
print("Total no.of audi cars:" , len(a))
print("\n")
print(a)

Total no.of audi cars: 19


TT 3.2 coupe 2dr (convertible)      1
S4 Avant Quattro                    1
A41.8T convertible 2dr              1
A4 3.0 convertible 2dr              1
TT 1.8 convertible 2dr (coupe)      1
A6 3.0 4dr                          1
A4 3.0 4dr                          1
A6 3.0 Avant Quattro                1
A6 3.0 Quattro 4dr                  1
A6 4.2 Quattro 4dr                  1
TT 1.8 Quattro 2dr (convertible)    1
RS 6 4dr                            1
A4 3.0 Quattro convertible 2dr      1
A4 3.0 Quattro 4dr manual           1
A4 3.0 Quattro 4dr auto             1
A8 L Quattro 4dr                    1
S4 Quattro 4dr                      1
A4 1.8T 4dr                         1
A6 2.7 Turbo Quattro 4dr            1
Name: Model, dtype: int64

In [85]:
# find audi count type
import re
txt = audi['Model']
a = []
c = []
for i in txt:
    b = re.compile(r'A4')
    val = b.search(i)
    a.append(val)

In [78]:
# Remove the none values:
car = []
no = []
for i in a:
    if i == None:
        no.append(i)
    else:
        car.append(i)
try:
    del no
    print(no)
except NameError:
    print("Succefully deleted none values")

Succefully deleted none values

In [82]:
print("Totla no.of Audi A4 cars: ",len(car))

Totla no.of Audi A4 cars:  7

###  Answer :Audi a4 model car is the best sold car in Europe

### 2. Best and cheap car in Europe

In [109]:
best = df[df['Origin'].isin(['Europe'])]
best['Type'].unique()

array(['Sedan', 'Sports', 'Wagon', 'SUV'], dtype=object)

###  Find the cheap and best cars in  Sedan type

In [108]:
b = best[best['MPG_City'] > 25]
print("This Sedan type cars are cheap and best cars in Europe")
b

This Sedan type cars are cheap and best cars in Europe

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
242,MINI,Cooper,Sedan,Europe,Front,"$16,999","$15,437",1.6,4.0,115.0,28.0,37.0,2524.0,97.0,143.0
408,Volkswagen,Jetta GLS TDI 4dr,Sedan,Europe,Front,"$21,055","$19,638",1.9,4.0,100.0,38.0,46.0,3003.0,99.0,172.0

###  Find the cheap and best cars in  Sports type

In [129]:
s_cheap= best[best['Type'].isin(['Sports'])]
s_cheap[s_cheap['MPG_City'] == 20]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
21,Audi,TT 1.8 convertible 2dr (coupe),Sports,Europe,Front,"$35,940","$32,512",1.8,4.0,180.0,20.0,28.0,3131.0,95.0,159.0
22,Audi,TT 1.8 Quattro 2dr (convertible),Sports,Europe,All,"$37,390","$33,891",1.8,4.0,225.0,20.0,28.0,2921.0,96.0,159.0
45,BMW,Z4 convertible 2.5i 2dr,Sports,Europe,Rear,"$33,895","$31,065",2.5,6.0,184.0,20.0,28.0,2932.0,98.0,161.0
339,Porsche,Boxster convertible 2dr,Sports,Europe,Rear,"$43,365","$37,886",2.7,6.0,228.0,20.0,29.0,2811.0,95.0,170.0

###  Find the cheap and best cars in  Wagon type

In [134]:
w_cheap= best[best['Type'].isin(['Wagon'])]
w_cheap[w_cheap['MPG_City'] > 20]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
417,Volkswagen,Jetta GL,Wagon,Europe,Front,"$19,005","$17,427",2.0,4.0,115.0,24.0,30.0,3034.0,99.0,174.0
418,Volkswagen,Passat GLS 1.8T,Wagon,Europe,Front,"$24,955","$22,801",1.8,4.0,170.0,22.0,31.0,3338.0,106.0,184.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0

###  Find the cheap and best cars in  SUV type

In [143]:
suv= best[best['Type'].isin(['SUV'])]
suv[suv['MPG_City'] > 16]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
221,Land Rover,Freelander SE,SUV,Europe,All,"$25,995","$23,969",2.5,6.0,174.0,18.0,21.0,3577.0,101.0,175.0

### 3. Which small length cars is best in europe

In [156]:
small = df[df['Origin'].isin(['Europe'])]

In [155]:
small[(small['Length'] < 160) & (small['MPG_City']  > 20)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
23,Audi,TT 3.2 coupe 2dr (convertible),Sports,Europe,All,"$40,590","$36,739",3.2,6.0,250.0,21.0,29.0,3351.0,96.0,159.0
242,MINI,Cooper,Sedan,Europe,Front,"$16,999","$15,437",1.6,4.0,115.0,28.0,37.0,2524.0,97.0,143.0
243,MINI,Cooper S,Sedan,Europe,Front,"$19,999","$18,137",1.6,4.0,163.0,25.0,34.0,2678.0,97.0,144.0
276,Mercedes-Benz,SLK230 convertible 2dr,Sports,Europe,Rear,"$40,320","$37,548",2.3,4.0,192.0,21.0,29.0,3055.0,95.0,158.0

### USA prefers which type car

In [161]:
us = df[df['Origin'].isin(['USA'])]
us['Type'].value_counts()

Sedan     90
SUV       25
Truck     16
Sports     9
Wagon      7
Name: Type, dtype: int64

In [199]:
suv2 = us[us['Type'].isin(['Wagon'])]
suv2

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
91,Chevrolet,Malibu Maxx LS,Wagon,USA,Front,"$22,225","$20,394",3.5,6.0,200.0,22.0,30.0,3458.0,112.0,188.0
106,Chrysler,Pacifica,Wagon,USA,Rear,"$31,230","$28,725",3.5,6.0,250.0,17.0,23.0,4675.0,116.0,199.0
141,Ford,Focus ZTW,Wagon,USA,Front,"$17,475","$16,375",2.0,4.0,130.0,26.0,33.0,2702.0,103.0,178.0
142,Ford,Taurus SE,Wagon,USA,Front,"$22,290","$20,457",3.0,6.0,155.0,19.0,26.0,3497.0,109.0,198.0
289,Mercury,Sable GS,Wagon,USA,Front,"$22,595","$20,748",3.0,6.0,155.0,19.0,26.0,3488.0,109.0,198.0
333,Pontiac,Vibe,Wagon,USA,Rear,"$17,045","$15,973",1.8,4.0,130.0,29.0,36.0,2701.0,102.0,172.0
355,Saturn,L300 2,Wagon,USA,Front,"$23,560","$21,779",2.2,4.0,140.0,24.0,34.0,3109.0,107.0,190.0

In [165]:
sedan = us[us['Type'].isin(['Sedan'])]

sedan

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
50,Buick,Century Custom 4dr,Sedan,USA,Front,"$22,180","$20,351",3.1,6.0,175.0,20.0,30.0,3353.0,109.0,195.0
51,Buick,LeSabre Custom 4dr,Sedan,USA,Front,"$26,470","$24,282",3.8,6.0,205.0,20.0,29.0,3567.0,112.0,200.0
52,Buick,Regal LS 4dr,Sedan,USA,Front,"$24,895","$22,835",3.8,6.0,200.0,20.0,30.0,3461.0,109.0,196.0
53,Buick,Regal GS 4dr,Sedan,USA,Front,"$28,345","$26,047",3.8,6.0,240.0,18.0,28.0,3536.0,109.0,196.0
54,Buick,LeSabre Limited 4dr,Sedan,USA,Front,"$32,245","$29,566",3.8,6.0,205.0,20.0,29.0,3591.0,112.0,200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,Saturn,lon2 4dr,Sedan,USA,Front,"$14,300","$13,393",2.2,4.0,140.0,26.0,35.0,2692.0,103.0,185.0
351,Saturn,lon3 4dr,Sedan,USA,Front,"$15,825","$14,811",2.2,4.0,140.0,26.0,35.0,2692.0,103.0,185.0
352,Saturn,lon2 quad coupe 2dr,Sedan,USA,Front,"$14,850","$13,904",2.2,4.0,140.0,26.0,35.0,2751.0,103.0,185.0
353,Saturn,lon3 quad coupe 2dr,Sedan,USA,Front,"$16,350","$15,299",2.2,4.0,140.0,26.0,35.0,2751.0,103.0,185.0
354,Saturn,L300-2 4dr,Sedan,USA,Front,"$21,410","$19,801",3.0,6.0,182.0,20.0,28.0,3197.0,107.0,190.0

In [194]:
s_cars = sedan[(sedan['MPG_City'] > 25) & (sedan['Horsepower'] >= 140)]
s_cars

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
71,Chevrolet,Cavalier 2dr,Sedan,USA,Front,"$14,610","$13,697",2.2,4.0,140.0,26.0,37.0,2617.0,104.0,183.0
72,Chevrolet,Cavalier 4dr,Sedan,USA,Front,"$14,810","$13,884",2.2,4.0,140.0,26.0,37.0,2676.0,104.0,183.0
73,Chevrolet,Cavalier LS 2dr,Sedan,USA,Front,"$16,385","$15,357",2.2,4.0,140.0,26.0,37.0,2617.0,104.0,183.0
349,Saturn,Ion1 4dr,Sedan,USA,Front,"$10,995","$10,319",2.2,4.0,140.0,26.0,35.0,2692.0,103.0,185.0
350,Saturn,lon2 4dr,Sedan,USA,Front,"$14,300","$13,393",2.2,4.0,140.0,26.0,35.0,2692.0,103.0,185.0
351,Saturn,lon3 4dr,Sedan,USA,Front,"$15,825","$14,811",2.2,4.0,140.0,26.0,35.0,2692.0,103.0,185.0
352,Saturn,lon2 quad coupe 2dr,Sedan,USA,Front,"$14,850","$13,904",2.2,4.0,140.0,26.0,35.0,2751.0,103.0,185.0
353,Saturn,lon3 quad coupe 2dr,Sedan,USA,Front,"$16,350","$15,299",2.2,4.0,140.0,26.0,35.0,2751.0,103.0,185.0

### USA most perfer Sedan type cars

### sedan type cars counts

In [193]:
s_cars['Make'].value_counts()

Saturn       5
Chevrolet    3
Ford         3
Dodge        2
Name: Make, dtype: int64

### Why this sedan type cars are better??

#### Because, it's cheap and best .  And also it gives more MPG compare to other  type cars